$primary-text-color: #212121;
$accent-color: #2196f3;
$subtitle-text-color: #757575;
$primary-white-color: #ffffff;
$primary-black-color: #000000;
$primary-footer-hero-color: #2f303a;
$primary-background-color: #e5e5e5;
$grey-background-color: #f5f4fa;
$contacts-color: rgba(255, 255, 255, 0.6);
$border-color: #eeeeee;
$header-border-color: #ececec;
$icon-social-color: #afb1b8;
$icon-dark-bg: rgba(255, 255, 255, 0.1);
$gallery-overlay-bgc: rgba(47, 48, 58, 0.8);
$overlay-bgc: rgba(33, 150, 243, 0.9);
$backdrop-bg: rgba(0, 0, 0, 0.2);
$modal-border-color: rgba(0, 0, 0, 0.1);

$weight-black: 900;
$weight-bold: 700;
$weight-middle: 500;
$weight-normal: 400;
$mobil: 480px;
$tablet: 768px;
$desktop: 1200px;
